body{
    font-family: 'Mochiy Pop One', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
    margin: 0px;
}
          /* hedaing section start  */
.heading-area{
    background-image: url('images/donation13.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    margin-top: 0px;
    margin-bottom: 150px;
   
}
   
.heading-area h1{
    font-size: 75px;
    font-weight: 900;
    color: white;
    text-align: center;
    margin: 0px;
    padding-top: 85px;
}

.heading-area p{
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 50px;
}

.donate-button-style {
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    color: white;
    background-color: rgb(255, 87, 58);
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 570px;
    
}

            /* Donate amount section start  */

.donation-amount{
    margin-bottom: 150px;
}
.section-heading{
    text-align: center;
    font-size: 50px;
    font-weight:900;
    margin-bottom: 0px;
}
.small-massage{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
   
}
.dontaion-flex{
    display: flex;
    margin-left: 300px;
}
.dontaion-flex h3{
    margin: 10px;
    font-size: 30px;
    font-weight: 600;
    background-color: rgb(219, 241, 255);
    padding: 25px 50px;
    border-radius: 5px;
}
.dontaion-flex #common-donate{
    border: 2px solid rgb(255, 89, 60);
    background-color: rgb(255, 211, 211);
    color: rgb(255, 86, 57);
}
 hr{
    width: 50%;
    size: 10px;
    align-items: center;
    margin-bottom: 25px;
 }

               /* Donation planning section start  */
.plan-container{
    display: flex;
    margin-left: 120px;
    margin-top: 50px;
    margin-bottom: 150px;
} 
.plan-container #food-item{
    width: 25%;
    background-color: rgb(255, 243, 243);
    margin-right: 25px;
    padding: 20px 30px;
}
.plan-container #shelter-item{
    width: 25%;
    background-color: rgb(253, 255, 246);
    margin-right: 25px;
    padding: 20px 30px;
}
.plan-container #education-item{
    width: 25%;
    background-color: rgb(244, 253, 255);
    padding: 20px 30px;
}
.plan-container img{
    margin-top: 30px;
}
.plan-container h3{
    font-size: 30px;
    font-weight: 600;
}
.plan-container p{
    text-align: justify;
}

                        /* volunteer section start */


.volunteer-area{
    height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 150px;
   
}
.volunteer-area a{
    text-decoration: none;
    color: rgb(207, 255, 190);
    background-color: #378673;
    font-size: 50px;
    font-weight: 700;
    border-radius: 10px;
    margin-left: 25px;
    padding: 25px;
    
}

                    /* Subscribe  section start */


form{
    text-align: center;
    margin-bottom: 150px;
}
form button{
    background-color: rgb(160, 13, 57);
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
}
#form-decorations{
    font-size: 25px;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
}
                             /* footer part start  */
footer{
    margin: 0%;
    background-color: black;
    color: white;
    height: 175px;
    text-align: center;
}
footer h1{
    font-family: Cursive;
    font-size: 50px;
    font-weight: 700;
    color: tomato;
    padding-top: 30px;
    margin-bottom: 0%;  

}                        
                                /* end  */